*{
    margin: 0%;
    padding: 0%;
}

.head{
    width: 130px;
    height: 130px;
    background-color:chocolate;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 45% 45% 25% 25%;
}
.eye{
    display: flex;
    justify-content: space-around;
}
.left_eye{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(250, 248, 248);
    margin-top: 50px;
    
    
}
.right_eye{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(250, 248, 248);
    margin-top: 50px;
    
    
}
.smile{
    width: 25px;
    height: 15px;
    border-radius:15% 15% 50% 50%;
    background-color: rgb(236, 225, 225);
    margin-top: 30px;
    margin-left: 8px;
}
.middle{

        display: flex;
        justify-content:center;
    
}
.left_hand{
    width: 25px;
    height: 100px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: chocolate;
}
.middle_body{
    width: 130px;
    height: 160px;
    margin-top: 5px;
    background-color: chocolate;
    border-radius: 35px;
}
.right_hand{
    width: 25px;
    height: 100px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 5px;
    background-color: chocolate;
}
.bottom{
    display: flex;
    justify-content:space-around;
    margin: 0 auto;

}
.right_leg{
    width: 30px;
    height: 50px;
    background-color: chocolate;
    margin-top: 2px;
    border-radius: 30px;
    margin-left:-120px;
}
.left_leg{
    width: 30px;
    height: 50px;
    background-color: chocolate;
    margin-top:2px;
    border-radius: 30px;
    margin-right:-120px;
}
.robot{
    width: 400px;
    height: 400px;
    background-color: bisque;
}
.robot:hover{
    background-color: rgb(115, 115, 170);
}
.robot:hover .head,
.robot:hover .right_hand,
.robot:hover .left_hand,.robot:hover .right_leg,
.robot:hover .left_leg{
    background-color:rgb(121, 200, 122)

}
.robot:hover .middle,.robot:hover .left_eye
,.robot:hover .right_eye{
    background-color: black;
}
.robot:hover .middle_body{
    background-color: darkkhaki;
}

@keyframes headRotate{
    
    0%, 100%{transform: rotate(0deg);}
    50%{transform: rotate(15deg);}
}
.robot:hover .head{
    
    transform-origin: center;
    animation: headRotate 1s infinite ease-in-out;
}
@keyframes handSwing{
    0%,100%{transform: rotate(0deg);}
    50%{transform: rotate(15deg);}
}
.robot:hover .left_hand,.robot:hover .right_hand{
    transform-origin: top center;
    animation: handSwing 1s infinite ease-in-out;
}
@keyframes legSwing{
    100%,100%{transform: rotate(50deg);}
    500%{transform: rotate(15deg);}
}
.robot:hover .left_leg,.robot:hover .right_leg{
    transform-origin: top center;
    animation: handSwing 0.25s infinite ease-in-out;
}
